<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidoor - VideoChat with NodeJS</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="style.css">
    <script>
        const IndexID = "<%= indexId %>"
    </script>
    <script src="peerjs.min.js" defer></script>
</head>

<body>
    <!-- Header -->
    <nav class="navbar">
        <div class="col-md-4 text-center">
            <h1 class="mt-2">VideoChat with NodeJS</h1>
        </div>
    </nav>
    <!-- End Header -->
    <main class="main">
        <div class="videoGroup">
            <div id="videoGrid"></div>
        </div>
        <div class="option">
            <div id="stopVideo" class="optionButton">
                <i class="fa-duotone fa-video-camera" ></i>
            </div>
            <div id="muteButton" class="optionButton">
                <i class="fa-duotone fa-microphone"></i>
            </div>
            <div id="inviteButton" class="optionButton">
                <i class="fa-duotone fa-user-plus"></i>
            </div>
        </div>
    </main>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
</body>

</html>