<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidoor</title>
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="style.css">
    <script>
        const IndexID = "<%= indexId %>"
    </script>
</head>

<body>
    <!-- Header -->
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.png" style="width: 150px;" alt="" srcset="">
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="mt-2">Video Chat with NodeJS</h1>
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="mt-2">test</h1>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Header -->
    <main class="container">
        <div class="videoGroup mt-5">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card" id="videos">
                        <img src="img/video.png">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" id="videos">
                        <img src="img/video.png">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" id="videos">
                        <img src="img/video.png">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" id="videos">
                        <img src="img/video.png">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" id="videos">
                        <img src="img/video.png">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" id="videos">
                        <img src="img/video.png">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>